body {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 30px;
  box-shadow: 10px 20px 100px;
}

section.page1 .scores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100%;
  color: white;
  background-image: linear-gradient(to top, hsl(241, 81%, 54%), hsl(252, 100%, 67%));
  border-radius: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
section.page1 h4 {
  font-weight: 100;
  color: hsla(0, 0%, 100%, 0.7);
}
section.page1 .circle {
  background-image: linear-gradient(to top, hsla(241, 72%, 46%, 0), hsl(256, 72%, 46%));
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.page1 .circle h1 {
  margin-top: 16px;
  margin-bottom: 0;
  font-size: xxx-large;
}
section.page1 .circle p {
  margin-top: 0px;
  font-size: x-small;
}
section.page1 h3 {
  margin-bottom: 10px;
}
section.page1 .score1 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 30px;
}

section.page2 .grade {
  width: 300px;
  height: 400px;
}
section.page2 .grade h2 {
  padding-left: 40px;
  margin-bottom: 0px;
  margin-top: 70px;
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;
}
section.page2 .grade .comment {
  padding-left: 40px;
  margin-top: 20px;
}
section.page2 .grade .comment .para1, section.page2 .grade .comment .para3, section.page2 .grade .comment .para5, section.page2 .grade .comment .para7 {
  margin-left: 8px;
}
section.page2 .grade .comment span {
  font-weight: bold;
  color: hsl(224, 30%, 27%);
}
section.page2 .grade .comment .react {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 5px;
  width: 220px;
  height: 35px;
  border-radius: 5px;
  background-color: hsla(0, 75%, 45%, 0.1);
}
section.page2 .grade .comment .react .para2 {
  margin-left: 30px;
  color: hsla(224, 30%, 27%, 0.7);
}
section.page2 .grade .comment .react .para1 {
  color: hsla(0, 75%, 45%, 0.747);
}
section.page2 .grade .comment .mem {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 5px;
  width: 220px;
  height: 35px;
  border-radius: 5px;
  background-color: hsla(39, 100%, 56%, 0.1);
}
section.page2 .grade .comment .mem .para4 {
  margin-left: 35px;
  color: hsla(224, 30%, 27%, 0.7);
}
section.page2 .grade .comment .mem .para3 {
  color: hsl(39, 100%, 56%);
}
section.page2 .grade .comment .veb {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 5px;
  width: 220px;
  height: 35px;
  border-radius: 5px;
  background-color: hsla(166, 100%, 37%, 0.1);
}
section.page2 .grade .comment .veb .para6 {
  margin-left: 50px;
  color: hsla(224, 30%, 27%, 0.7);
}
section.page2 .grade .comment .veb .para5 {
  color: hsl(166, 100%, 37%);
}
section.page2 .grade .comment .vis {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
  margin-top: 5px;
  width: 220px;
  height: 35px;
  border-radius: 5px;
  background-color: hsla(234, 100%, 89%, 0.3);
}
section.page2 .grade .comment .vis .para8 {
  margin-left: 52px;
  color: hsla(224, 30%, 27%, 0.7);
}
section.page2 .grade .comment .vis .para7 {
  color: hsl(234, 85%, 45%);
}
section.page2 .cont {
  padding-left: 40px;
  margin-top: 30px;
}
section.page2 .cont button {
  width: 220px;
  height: 35px;
  padding: 8px;
  border: none;
  border-radius: 15px;
  background-color: hsl(224, 30%, 27%);
}
section.page2 .cont button a {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 320px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .box {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 30px;
    box-shadow: 10px 20px 100px;
  }
}
@media screen and (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .box {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 30px;
    box-shadow: 10px 20px 100px;
  }
}/*# sourceMappingURL=score.css.map */